DATABASE_URL=postgresql://postgres:123456@127.0.0.1:5432/postgres


JWT_ACCESS_SECRET=fddlfhsgdsi5*&^%^7t6y0fgsfjshortyw48tuhrfsoiudfhg;
JWT_REFRESH_SECRET=sfdsd;shdsdgfsiutfsuifdgsfshgfsuidfhgsidhbsfhnsdo